html,
body {
    /* background-color: darkseagreen; */
    height: 100%;
}


/* ----------------------------------------- Main ------------------------------------------ */

.main .parent {
    padding-bottom: 0% !important;
    /* background-color: darkseagreen; */
}

.main .root {
    /* background-color: darkseagreen; */
    
    height: 0% !important;
    opacity: 1;
    /* z-index: -1; */
}

.main .sideImg {
    margin-top: 12vh !important;
}

.main .inner-root {
    margin-top: 12vh !important;
    /* margin-bottom: auto; */
    /* z-index: 1; */
}
/* .main .formargin{
    margin-bottom: 200vh !important;
} */
.main .right {
    float: right;
}

.main .ui .grid {
    min-height: 100%;
}

.main .grid .row .segment {
    margin-top: 5vh !important;
}

.main .image {
    width: 20%;
}

.main .formTitle {
    font-size: medium;
    /* margin-left: 0.5vw !important;
    margin-top: 0.0vh !important; */
    /* background-color: #645CEA !important; */
}

.main .signin {
    color: white;
    background-color: #E0321C;
}

.main .signin :hover {
    color: white !important;
    background-color: #d62f18 !important;
}


/* ----------------------------------------- Dashboard --------------------------------------- */

.dashboard {
    margin-top: 15vh;
}

.dashboard .details {
    margin-bottom: 2% !important;
    /* min-width: 50% !important; */
}

.dashboard .rating-star {
    float: right !important;
    padding-top: 2% !important;
}


/* to maintain the height of the card image */


/* .dashboard .cards .specialRow{
    float: right !important;
    right: 0% !important;
    
    
}

.dashboard .image {
    min-height: 100%;
}

.dashboard .container {
    min-height:60vh !important; 
    min-width: 50vh !important;
    margin-bottom: 0;
}

.dashboard .facts {
    margin-top: 15vh !important;
    margin-bottom: 5vh !important;
}

.dashboard .content {
    margin-left: 0 !important;
    margin-right: 0 !important;
} */


/* ------------------------------------------------------------------------------------------- */


/* ----------------------------------------Menu Sidebar NOT-IN-USE -------------------------------------- */

.menusidebar {
    margin: 0 !important;
    will-change: auto !important;
}

.menusidebar .gridSidebar1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.menusidebar .gridSidebar2 {
    padding: 0% !important;
    margin: 0 !important;
}

.menusidebar .gridSidebar2 .sidebar {
    margin-left: 0 !important;
}

.menusidebar .navbar {
    border-radius: 0 !important;
}

.menusidebar .gridSidebar2 .sidebar-item {
    will-change: auto !important;
    padding-top: 2.5%;
}


/* ---------------------------------------- Create Avail -------------------------------------- */

.createAvail {
    /* margin-top: 5% !important; */
    margin-top: 15vh !important;
    margin-bottom: 15vh !important;
}

.createAvail .headerImg {
    font-size: 200% !important;
}


/* ---------------------------------------- navbar-content -------------------------------------- */

.navbar-content {
    margin: 0 !important;
}

.navbar-content .top-nav {
    margin-bottom: 5% !important;
}

.navbar-content .logo {
    margin-right: 2% !important;
    align-items: center;
    display: flexbox;
}


/* @media screen and (min-width: 480px) {
    body {
      background-color: rgb(221, 209, 255);
    }
  } */


/* ---------------------------------------- food-info -------------------------------------- */

.foodinfo {
    margin-top: 20vh !important;
}

.foodinfo .header {
    font-size: large !important;
}

.foodinfo .subheader {
    font-size: medium !important;
}

.foodinfo .description {
    font-size: medium !important;
}

.foodinfo .headerImg {
    font-size: 150% !important;
}

.foodinfo .title {
    /* padding-top: 2vh !important; */
    font-size: x-large !important;
}